
.footer{
    background-color: rgb(170, 161, 139);
    height: 120px;
    width:  100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    padding: 10px 0px;
    gap: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}
.break{
    width: 5px;
    height: 100%;
    background-color: black;
    border-radius: 10px;
}
.social{
    display: flex;
    gap: 30px;
}
