@media (max-width:1400px) {
    
    .cover{
        top: -250px;
        left: -70px;
        width: 1000px;
        height: 900px;
    }
    
}
@media (max-width:1200px) {
    
    .imgpro img {
        border-radius: 10px;
        height: 280px;
        width: 440px;
    }
    .prodesc{
        font-size:22px ;
    }
    .section1{
        width: 70%;
    }
    
    .ring img{
        height: 450px;
        width:  450px;
    }
    .swrod{
        left: 29%;
        top: 56px;
    }
    .navlist li a{
        font-size: 25px;
    }
    .logo img{
        height: 70px;
        width: 150px;
    }
    .swrod img{
        height: 330px;
        width:  330px;
    }
    .circle{
        left: 0%;
    }
    .name{
        font-size: 60px;
    }
    .social{
        gap:15px;
    }
    .project1{
        flex-direction: column;
    }
    .projectimg img{
        transform: translateX(0);
        height: 280px;
        width: 470px;
    }
    .key{
        font-size: 22px;
    }
}
@media (max-width:1000px) {
    .logo img{
        height: 60px;
        width: 120px;
    }
    .key{
        font-size: 19px;
    }
    .cardheader{
        font-size: 25px;
    }
    .techcontent {
        font-size: 0.9rem;
    }
    .section1{
        font-size: 25px;
    }
    .projectimg img{
        transform: translateX(0);
        height: 260px;
        width: 450px;
    }
    .project1{
        flex-direction: column;
    }
    .info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content{
        width: 60vw;
    }
    
    .projectscontainer{
        padding: 0;
    }
    .cover{
        top: -250px;
        left: -45px;
        width: 680px;
        height: 900px;
    }
    .headings , .techheader>h1{
        font-size: 75px;
    }
    .content{
        font-size: 26px;
    }
    .techcard {
        width: 200px;
        height: auto;
    }
    .contactsection{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px 1fr;
    }
    .projectdisplay {
        height: 80vh;
        width: 80%;
        left: 5%;
        top: 5%;
        bottom: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 1fr;
        overflow-y: scroll;
    }
    .imgpro img {
        border-radius: 10px;
        height: 280px;
        width: 440px;
    }
    .prodesc{
        font-size:25px ;
    }
    .sec2{
        
        overflow-y: visible;
    }
}
@media (max-width:850px) {
    .logo img{
        height: 50px;
        width: 100px;
    }
    .projectimg img {
        height: 230px;
        width: 400px;
    }
    .techcontent {
        font-size: 0.7rem;
    }
    .social img{
        width: 30px;
        height: 30px;
    }
    .prodesc{
        font-size: 25px;
    }
    .swrods{
        height: 400px;
    }
    .ring{
        left: 23.5%;
    }
    .swrod{
        left: 30%;
        top: 50px;
    }
    .circle{
        width: 600px;
        height: 600px;
    }
    .projectscontainer{
        margin: 20px 0px;
    }
    .cover {
        top: -190px;
        left: -55px;
        width: 590px;
        height: 640px;
    }
    .letter{
        width: 500px;
        left: -140px;
    }
    .footer{
        font-size: 27px;
    }
    .swrod img{
        height: 290px;
        width:  290px;
    }
    .ring img{
        height: 380px;
        width:  380px;
    }
    .project1{
        margin: 10px 0;
    }
    .section1{
        font-size: 20px;
    }
    form label{
        font-size: 24px;
    }
    form input{
        width: 300px;
    }
    form textarea{
        width: 300px;
    }
    .navlist li a {
        font-size: 20px;
    }
    .contactsection{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px 1fr;
    }
    .headings ,.techheader>h1{
        font-size: 60px;
    }
    .con{
        font-size: 22px;
    }
    .content {
        font-size: 22px;
    }
}

@media (max-width:750px) {
    .cover{
        top: -190px;
        width: 480px;
    }
    .section1{
        font-size: 17px;
    }
    .ring{
        left: 23%;
    }
    .swrod{
        top: 55px;
    }
    .name{
        font-size: 50px;
    }
}
@media (max-width:605px) {
    .name{
        font-size: 35px;
    }
    .img .circle{
        left: -80%;
    }
    .logo img{
        width: 60px;
        height: 40px;
    }
    .upperlight{
        height: 30px;
    }
    .navlist ul{
        font-size: 20px;
    }
    .social img{
        width: 30px;
        height: 30px;
    }
    .prodesc{
        font-size: 25px;
    }
    .swrods{
        height: 400px;
    }
    .ring{
        left: 24%;
    }
    .swrod{
        left: 30.5%;
        top: 55px;
    }
    .con {
        font-size: 18px;
    }
    .circle{
        width: 450px;
        height: 450px;
    }
    .projectscontainer{
        margin: 20px 0px;
    }
    .cover {
        top: -190px;
        left: -55px;
        width: 590px;
        height: 640px;
    }
    .letter{
        width: 500px;
        left: -140px;
    }
    .footer{
        font-size: 27px;
    }
    .swrod img{
        height: 250px;
        width:  250px;
    }
    .ring img{
        height: 330px;
        width:  330px;
    }
    .project1{
        margin: 10px 0;
    }
    .section1{
        font-size: 20px;
    }
    form label{
        font-size: 24px;
    }
    form input{
        width: 250px;
    }
    form textarea{
        width: 250px;
    }
    .navlist li a {
        font-size: 20px;
    }
    .headings, .techheader>h1 {
        font-size: 50px;
    }
    .contactsection{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px 1fr;
    }
    .techcover img {
        width: 40%;
        height: 50%;
    }
}
