/* .contactsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 10px 50px;
    padding: 10px 50px;
}
.section1{
    position: relative;
    text-align: start;
    color: white;
    font-size: 30px;
    text-align: justify;
    margin: 300px 90px;
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
    z-index: 10;
    width: 50%;
}

.divcover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 950px;
    background-image: url('/cover.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cover{
    position: absolute;
    top: -200px;
    left: -60px;
    width: 1200px;
    height: 700px;
    z-index: 1;
}

.section1 div{
    position: relative;
    z-index: 10;
}
.section2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 80px;
}
.royal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    color: white;
}
.royal img{
        width: 500px;
        height: 450px;
        border-radius: 20px;
} */
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    position: relative;
    z-index: 6;
    margin-top: 100px;
    /* font-family: "Kalam", cursive; */
  font-weight: 300;
  font-style: normal;
}
form input{
    width: 350px;
    font-size: 20px;
    padding: 5px;
    position: relative;
    z-index: 6;
    border-radius: 10px;
    font-family: "Cinzel Decorative",serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    background-color: rgb(181, 160, 133);
}
.username input{
    text-transform: uppercase;
}
form textarea{
    width: 350px;
    height: 200px;
    font-size: 20px;
    padding: 10px;
    position: relative;
    z-index: 6;
    border-radius: 10px;
    background-color: rgb(181, 160, 133);
}
form label{
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: start;
    color: rgb(201, 162, 129);
    font-size: 25px;
    position: relative;
    font-family: "Cinzel Decorative",serif;
    z-index: 6;
}

form button{
    font-size: 25px;
    padding: 5px;
    position: relative;
    z-index: 6;
    border-radius: 10px;
    font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}
.contactsection{
    display: grid;
    grid-template-columns: 10fr 1fr 10fr;
    margin: 10px 60px;
    place-items: center;
    gap: 10px;
    background-size: 450px 450px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;  
      
}
.contactsection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    background-repeat: no-repeat;
    filter:  grayscale(0%); 
    z-index: 1;
}
.con{
    padding-left: 10px;
    font-size: 25px;
    color: rgb(201, 162, 129);
    text-align: justify;
    position: relative;
    z-index: 4;
    backdrop-filter: blur(2px);
    font-family: "Cinzel Decorative",serif;
        /* font-weight: 400; */
        font-style: normal;
}

.resumesection{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.resumesection button {
    height: 100%;
    width: auto;
    font-size: 30px;
    padding: 20px;
    background-color: rgb(188, 168, 142);
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.resumesection  a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}