html {
  margin: 0;
  position: relative;
  min-height: 100vh;
  background-color: black;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 98.9vw;
}
/* body {
  max-width: 1920px;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1536px) {
  body {
      padding-left: 0.1rem;
      padding-right: 4rem;
  }
}

@media (min-width: 1280px) {
  body {
      padding-left: 3rem;
      padding-right: 3rem;
  }
}

@media (min-width: 1024px) {
  body {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
  }
}

@media (min-width: 768px) {
  body {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
  }
}

@media (min-width: 640px) {
  body {
      padding-left: 1rem;
      padding-right: 1rem;
  }
} */
 /* Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(244, 225, 210,0.05);
}

::-webkit-scrollbar-thumb {
  background: #b89e8e; /* Medium brown thumb */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a705e; /* Darker brown on hover */
}

